body {
	font-family: 'Lato', sans-serif;
	color: #747784;
	font-weight: 300;
}

/* override bootstraps defaults*/
.navbar-default {
	box-shadow: none;
	border-color: white;
	background-image: none;
	background-color: white;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
	text-decoration: none;
}

.header-logo {
	margin-top: 20px;
	margin-left: 20px;
}

.header-super a {
	text-decoration: none;
	color: #747784;
}

.footer-super {
	padding-top: 50px;
}

/* tags */
p.tags          { text-align: right; font-style: italic; }
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }
li.tag-1           {font-size: 100.0%;}
li.tag-2           {font-size: 130.0%;}
li.tag-3           {font-size: 160.0%;}
li.tag-4           {font-size: 200.0%;}

/* about img */
img.align-left {
    float: left;
    margin: 20px;
}
