{% extends "base.html" %}
{% block title %} Archive | {{ SITENAME }} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <h3>Topics</h3>
        <ul class=tagcloud>
        {% for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }}"><a href="tag/{{ tag.0 }}.html">{{ tag.0 }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        <h3>{{ article.date.strftime('%d %B %Y') }}</h3>
        <p class="summary"> {{ article.excerpt }}</p>
        {% endfor %}
    {%endif%}
    </div>
</div>

{% endblock %}