<div class="row">
  <div class="col-md-6">
    <a href="{{ SITEURL }}">
      <img class="img-responsive header-logo" src="/theme/images/me.jpg">
    </a>
  </div>
  <div class="col-md-6 header-super text-right">
      <h1 class="title-super text-thin text-uppercase">
        <a alt="Home page" href="{{ SITEURL }}">{{ SITENAME }}</a>
      </h1>
      <h4>Adventures of a Scruffy Nerf Herder</h4>
    <ul class="nav nav-pills">
		  {% for section in SECTIONS %}
		  <li role="presentation"><a href="{{ SITEURL }}/{{ section[1]}}">{{ section[0] }}</a></li>
		  {% endfor %}
    </ul>
  </div>
</div>