<div class="row">
  <div class="col-md-6">
    <a href="{{ SITEURL }}">
      <img class="img-responsive header-logo" src="/theme/images/me.jpg">
    </a>
  </div>
  <div class="col-md-6 header-super text-right">
      <h1 class="title-super text-thin text-uppercase">
        <a alt="Home page" href="{{ SITEURL }}">{{ SITENAME }}</a>
      </h1>
      <h4>Adventures of a Scruffy Nerf Herder</h4>
      <nav class="navbar navbar-default navbar-right" role="navigation">
        <div class="container-fluid" id="navfluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div>
         <div class="collapse navbar-collapse" id="navigationbar">
           <ul class="nav navbar-nav">
             {% for section in SECTIONS %}
               <li><a href="{{ SITEURL }}/{{ section[1]}}">{{ section[0] }}</a></li>
             {% endfor %}
           </ul>
        </div>
     </div>
   </nav>
  </div>
</div>
